parameters:
  level: 6
  paths:
    - src
    - tests
  ignoreErrors:
    -
      identifier: property.onlyWritten
      path: src/Domain/*
    -
      identifier: property.unusedType
      path: src/Domain/*
